html, body{
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg2.jpg');
    /* Faz a imagem caber na tela: */
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  color: black;

  
}
.profile{
    border-radius: 50%;
    width: 24%;
    border: 10px solid white;
}
/* A partir de 575.98px aumentar a imagem */
@media (max-width: 575.98px) {
    .profile{
        border-radius: 50%;
        width: 50%;
        border: 10px solid white;
    }
}

.text{
    font-size: 40px;
    font-family: helvetica;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: helvetica;

}
/* O hover acontece quando o mouse passa por cima */
.link:hover{
    text-decoration: none;
    color: #e48867;
    font-size: 20px;
}
.space{
    font-size: 16px;
    font-family: helvetica;
    padding-bottom: 25px;
}
.space-top{
    padding-top: 25px;
}
.space-margin{
    margin-bottom: 10px;
}

